{
  "extends": "airbnb",
  "esversion" : 6,
  "rules": {
    "prefer-template": 0,
    no-param-reassign: [0, { "props": true }],
    "comma-dangle": 0,
    "max-len" : 0,
    "no-console": 0,
    "no-unused-vars": [2, {"varsIgnorePattern": "^_", "argsIgnorePattern": "^_"}],
    "newline-per-chained-call": 0,
    "no-underscore-dangle" : 0,
    "new-cap": 0,
    "no-nested-ternary": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "no-else-return": 0,
  }
}
